<ion-header>
  <ion-toolbar>

    <div class="title-bar">
      <div class="title">
        Catalog
      </div>
      <div class="cart">
          <ion-icon name="cart" (click)="goToCart()"></ion-icon>
      </div>
    </div>
    
    
  </ion-toolbar>
</ion-header>

<ion-content  class= "bodycss">

  <!-- <ion-searchbar  debounce="700" placeholder="Search by phone or name" (ionInput)="applyFilter($event.target.value)"></ion-searchbar> -->

  <ion-searchbar  debounce="700" placeholder="Search By Part number or desc"   #mySearchbar
      showCancelButton cancelButtonText="Clear" (ionClear)= "reset()"
      (ionInput)="openDialog($event.target.value)"></ion-searchbar>

<div *ngIf="member404">{{member404}}</div>

 <div *ngFor="let item of resultList let i = index; let isOdd=odd; 
 let isEven=even;" class="innerpad">
   <div class="grid" [class.odd]="isOdd" [class.even]="isEven">
      <div class="griditem1">
        <div class="part-no"><span class="part-label">PART# </span>{{item.partno}}</div>
        <div class="part-desc">{{item.description}}</div>
        
      </div>
      <div class="griditem2">
        <div class="subgriditem2-1">
            <span class="gray-small-label">
                MRP
            </span>
        </div>
        <div class="subgriditem2-2 blue-color">
            {{item.mrp  | currency:'INR':'symbol' : '1.0'}}
        </div>
      </div>
      <div class="griditem3">
        <div class="subgriditem3-1">
            <span class="gray-small-label">Qty:</span> 
        </div>
        <div class="subgriditem3-2 ash-color">
            {{item.quantity | zeroToVal: 'No Stock'}}
        </div>
        
      </div>
      <div class="griditem4">
          <ion-icon name="add-circle-outline" (click)="addPartsToCart(item)" class="ion-1point5x ash-color" ></ion-icon>
      </div>
      <!-- <div class="griditem5">{{item.date_stock | date: 'dd/MMM/yyyy'}}</div> -->
      
      
      </div>


 </div>


</ion-content>



