.title-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title cart"
}


.title {
    grid-area: title;
    padding-left: 10px;
}

.cart {
    grid-area: cart;
    justify-self: end;
    padding-right: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(4, 20px);
    grid-template-areas: "desc desc desc"
                         "partno mrp quantity"
                         "footer footer footer";
    grid-auto-flow: dense;
    grid-gap: 5px;
    padding:8px; 
    border-bottom: 1px solid rgb(223, 221, 221) !important;
  }
  
  .griditem1 {
    grid-area: desc;
  }
  
  .griditem2 {
    grid-area: partno;
  }
  
  .griditem3 {
    grid-area: mrp;
  }
  
  .griditem4 {
    grid-area: quantity;
    justify-self: center;
    align-self: center;
  }
  
  .griditem5 {
    grid-area: footer;
  }

  .part-no {
      color: #012ef3;
      font-size: 0.9rem;
      text-align: left;
  }
.part-label {
    color: #58595c;
    font-size: 0.8rem;
}

  .part-desc {
    color: #58595c;
    font-size: 0.9rem;
    text-align: left;
    font-style: italic;
}

.gray-small-label {
    color: #58595c;
    font-size: 0.8rem;
}

.bodycss {
    --padding-start: 6px;
    --padding-end: 6px;
    --padding-top: 6px;
    --padding-bottom: 6px;
    
}

.ash-color {
    color: #58595c;
}

.blue-color {
    color: #012ef3;
}