.billing-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: 1rem;

    .col1{
      
       
        color: rgb(172, 172, 172);
        text-align: left;
    }
    .col2{
       
    
        color: rgb(172, 172, 172);
        text-align: center;
    }
    .col3{
       
       
        color: rgb(172, 172, 172);
        text-align: right;
    }
    &:last-child {
        padding-bottom: 0.9rem;
    }
}





.billing-head {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    &.hr {
        border-bottom: 1px solid grey;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    .col1 {
        text-align: left;
    }
    .col2 {
        text-align: center;
    }
    .col3 {
        text-align: right;
    }
}



.billing-grid-wrapper {
    padding-top: 0.8rem;
}

.billing-footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    &.hr {
        border-top: 1px solid grey;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
    .col1 {
        text-align: left;
    }
    .col2 {
        text-align: center;
    }
    .col3 {
        text-align: right;
    }
}

.remove {
    font-size: 0.9rem;
    color: rgb(172, 172, 172);
    text-align: right;
    border-bottom: 1px solid grey;
   
}